{% extends "base.html" %}
{% block page %} Programming {% endblock %}

{% block content %}

    {% for program in programming_dict %}
      <div class="container space align {{ program.num }}">
            <br>
            <img src="{{ program.Img }}" width="auto" height="25%">
            <h1>{{ program.Q }}</h1>
            <br><br>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="choiceA"  onclick="{{ program.F1 }}">
                        {{ program.A1 }}
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="choiceB" onclick="{{ program.F2 }}">
                        {{ program.A2 }}
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="choiceC" onclick="{{ program.F3 }}">
                        {{ program.A3 }}
                    </div>
                    <br>
                </div>
                <div class="col-md-5">
                    <div class="choiceD" onclick="{{ program.F4 }}">
                       {{ program.A4 }}
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    {% endfor %}
    {% endblock %}
    {% block score_display%}
      <h1 id="PscoreDisplay">Score: </h1>
    {% endblock %}
