{% extends "base.html" %}
{% block css_link %}<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css')}}">{% endblock %}
{% block content %}
    <!-- Top pink sections -->
    <div class='top-section'>
        <div class="row">
            <div class="col-md-6">
                <img class="me-picture" src="../static/assets/june4.png">
            </div>
            <div class="col-md-6">
                <div class="about-me">
                  <h1>Welcome to Python Arcade!</h1>
                  <p>
                    There are multiple games on this site along with some other interesting programs. Feel free to check them out.
                  </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Middle section -->
    <div class='middle-section'>
        <h2 class='middle-section-title'>Programs</h2>
        {% for project in index_projects %}
        <div class="row">
            <div class="col-md-3 project-card">
                <a href={{ project[0].Link }} target="_blank"><img class="project-image" src="{{ project[0].Img }}"></a>
                <p class="project-description">{{ project[0].Description }}</p>
            </div>
            <div class="col-md-1"></div>
            <a name="Projects"></a>
            <div class="col-md-3 project-card">
                <a href={{ project[1].Link }} target="_blank"><img class="project-image" src="{{ project[1].Img }}"></a>
                <p class="project-description">{{ project[1].Description }}</p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3 project-card">
                <a href={{ project[2].Link }} target="_blank"><img class="project-image" src="{{ project[2].Img }}"></a>
                <p class="project-description">{{ project[2].Description }}</p>
            </div>
        </div>
        {% endfor %}
        <div class="project-next">
            <h1><a href="/projects">More Programs</a></h1>
        </div>
    </div>
{% endblock %}