{% extends "base.html" %}
{% block css_link %}
<link rel="stylesheet" type="text/css"
 href="{{ url_for('static', filename='projects.css')}}">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <script src="{{url_for('static', filename='scripts.js')}}"></script>
{% endblock %} 
{% block content %}
<script></script>
<!-- Main content -->
<div class="main-content">
  <h2 class="main-content-title">Programs</h2>
  <h4 style="text-align: center;padding-bottom:2%">To view a program, click on the image. <br> You may need to expand the screen for the game to display properly. Example shown in video.</h4>
  <video controls style="display: block;width: 40%;margin: auto; padding-bottom: 2%">
      <source src="../static/assets/tutorial.mp4" type="video/mp4">
  </video>
  <a name="Projects"></a>
  <div class="search-container">
    <input type="text" placeholder="Search..." name="search" class="search-input">
    <button type="submit" onclick="filter_search()"><i class="fa fa-search"></i></button>
    <div class="dropdown">
      <button class="dropbtn">Tags</button>
      <div class="dropdown-content">
        <span onclick="filter_tags('game')">game</span>
        <span onclick="filter_tags('other')">other</span>
        <span onclick="filter_tags('bot')">bot</span>
        <span onclick="filter_tags('website')">website</span>
        <span onclick="filter_tags('machine learning')">machine learning</span>
        <span onclick="filter_tags('tkinter')">tkinter</span>
      </div>
    </div>
    <button type='submit' onclick="reset()">Reset</button>
    <br><br><br>
  </div>
  

  {% for project in project_projects %}
  
  <div class="row">
    <div class="col-md-6 {{ project.project_class }}">
        <a href={{ project.Link }} target="_blank"><img class={{ project.Class_Name }} src="{{ project.Img }}"></a>
    </div>
    <div class="col-md-6 {{ project.project_class }}">
        <h4 class="margin-top">{{ project.Title }} <a href="{{ project.github }}" target="_blank"> <i class="fa fa-github github-link"></i></a></h4>
        <p class="project-card-description">{{ project.Description }}
          <b class="coloured">Tags: {{ project.tags }}</b>
        </p>
    </div>
  </div>
  {% if project.Title2 %}
  <div class="row">
    <div class="col-md-6 {{ project.project_class2}}">
      <h4 class="margin-left">{{ project.Title2 }} <a href="{{ project.github2 }}" target="_blank"> <i class="fa fa-github github-link"></i></a></h4>
      <p class="project-card-description margin-left">{{ project.Description2 }} 
        {% if project.external %}
          Here is a <a href="{{ project.external}}" target="_blank">link</a> to a server to test it.
        {% endif %}
        <b class="coloured"> Tags: {{ project.tags2 }}</b>
      </p>
    </div>
    <div class="col-md-5 {{ project.project_class2}}">
      <a href={{ project.Link2}} target="_blank"><img class={{ project.Class_Name2}} src="{{ project.Img2}}"></a>
    </div>
    <div class="col-md-1"></div>
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endblock %}